.textContent {
    padding-left: 20px;
    color: '#404040';
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
    font-family: 'Poppins', sans-serif;


}

.finishAndEditContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 10px 5px 10px;

    
}



@media only screen and (max-width: 767px) {
    .finishAndEditContainer {
        justify-content: center;
    }
}
  