.textContent {
    padding-left: 20px;
    color: '#404040';
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    white-space: pre-wrap;
    font-family: 'Poppins', sans-serif;


}


.cardContainer {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}

.finishAndEditContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 10px 5px 10px;


}

.cardContentContainer {
    flex-direction: column;
}

.projectImage {
    height: 120px;
    width: 120px;

    padding: 10px;
    object-fit: cover;
}


@media only screen and (max-width: 767px) {
    .finishAndEditContainer {
        justify-content: center;
    }
}