.firstdiv {
    background-color: white;
    min-height: 50vh;
    margin-left: 1px;
    margin-right: 1px;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    margin-bottom: 20px;

}

.itemsNavbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebarContainers {
    margin-top: 10px;
    padding: 20px;
}


.sidebarTitle {
    font-family: "Poppins", sans-serif;
    font-style: initial;
    font-weight: 600;
    font-size: inherit;
}

.projecttitle {
    font-weight: 800;
    color: black;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
}

.downloadsection {
    justify-content: center;
}

.projectImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;

}


.deleteContainer {
    position: absolute;
    top: 0px;
    left: 0px;


}

.projectImageContainer {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deleteIcon {
    color: #555556;
    cursor: pointer;
    font-size: 20px;
}