stages:
  - build
  - deploy

build_image:
  stage: build
  only:
    refs:
      - /^(main.*)$/

  tags:
    - imagesbuilder
  script:
    - chmod +x ./ci/deliver.sh
    - ./ci/deliver.sh



deploy_image:
  stage: deploy
  script:
    - chmod +x ./ci/deploy.sh
    - ./ci/deploy.sh
  only:
    refs:
      - /^(main.*)$/
  tags:
    - imagesbuilder


