.seconddiv {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    min-height: 100px;
    margin-left: 1px;
    margin-bottom: 20px;
    margin-right: 1px;
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}


.NavItems {

    padding-left: 20px;
    margin-top: 10px;
    font-size: 22px;
    color: black;
    font-weight: 800;
}

.itemsNavbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.textContent {
    padding-left: 20px;
    color: '#404040';
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 26px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}