.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 45px;
    background-color: #f7f7f7;
    height: 95vh;
}

.content {
    margin-top: 100px;
    margin-left: 20px;

}



.navItemContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start
}

.items {

    text-decoration: none;
    transition: color .2s ease-out;
    display: flex;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: flex-start;
    background-color: transparent;
}
.navItemText{
    color: inherit;
    color: #2CA8FF;
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5;
    cursor: pointer;
    margin: 0;
    margin-left: 10px;
}
.navItemText:hover {
    text-decoration: none;
    color: #e83e8c;
}

.icon{
    color: black;
    cursor: pointer;
    font-size: 14px;   
    width: 10px;
}

.titles {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
    color: #1a1a1a;
}