.sideBarMenu {
    display: block;
}

.sideBarProjects {
    display: block;
}

.img-raised {
    width: 50px !important;
    object-fit: cover !important;
    height: 50px !important;
}

@media screen and (max-width:850px) {

    .sideBarMenu {
        display: none;
        background-color: red;

    }



}

@media screen and (max-width:1200px) {

    .sideBarProjects {
        display: none;
        background-color: red;
    }



}